.keypad{
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.keypad input[type="button"]{
    background-color: bisque;
    font-size: 4rem;
}

.layout-image-container{
    display: flex;
}

.layout-image-container-item{
    flex-direction: column
}